.menu-general {
    position: absolute;
    float: none;
 }

 /*
 Aquí lo que hacemos es quitar los guiones del listado, 
 situamos el listado y le damos un tamaño. 
 Al final le damos la animación de transformar el tamaño del 50% al 100%. 
 esto nos dará la animación que queremos, es decir, que se haga grande el botón.
 */
 ul.nav {
    list-style: none;
    display: flex;
    width: 200px;
    position: relative;
    top: 50px;
    padding: 60px 0 60px 0;
    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
    -o-background-size: 50% 100%;
 }

 /*
 En este estilo lo que hacemos es construir los botones de nuestro menú. 
 Le damos un color de fondo, unas esquinas redondeadas, y una sobra alrededor.
 */
 ul.nav li a {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    background: #f77e08;
    color: #174867;
    padding: 7px 15px 7px 15px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    width: 100px;
    display: flex;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #0e169b;
    -moz-box-shadow: 2px 2px 4px #0e169b;
    -o-box-shadow: 2px 2px 4px #0e169b;
 }

 /*
 Y por ultimo le damos estilos a nuestro menú para cuando pasemos 
 por encima con el ratón.
 */
 ul.nav li a:hover {
    background: #faef77;
    color: #67a5cd;
    padding: 7px 15px 7px 30px;
 }
